.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
	margin-bottom:0px;
}

.accordion {
	overflow:hidden;
}
.accordion-section{
}

/*----- Section Titles -----*/
.accordion-section-title {
	padding:10px;
	margin:0px;
	display:inline-block;
	background:#efefef;
	/* Type */
	font-size:14px;
	color:#fff;
}
.accordion-section-title:before {
    content: "+";
    font-size: 20px;
    float: right;
    color: #FFF;
    background-color: #ff6707;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    position: relative;
	margin-left: 10px;
	display:none;
}
.accordion-section-title:link,
.accordion-section-title:visited{
	color:#000;
}
.accordion-section-title:focus{
	outline:none;
}
.accordion-section-title.active, .accordion-section-title:hover {
	/* Type */
	text-decoration:none;
}
.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
	line-height:20px;
}
.according-bg-org{
	background-color:#fd6801;
	color:#FFF;
	line-height:20px;
}
.according-bg-org:before{
	content: "";
}
.according-bg-org:link,
.according-bg-org:visited{
	color:#FFF;
	display:block;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding-top:15px;
	display:none;
}

/*******************************************************************/
button.accordion {
    background-color: #efefef;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    margin-bottom: 10px;
    line-height: 24px;
    height: 40px;
}

button.accordion:active, button.accordion:hover {
    background-color: #efefef;
}

button.accordion:before {
    content: '+';
    background-color: #fd6801;
    font-size: 18px;
	font-weight:bold;
    float: right;
    color: #FFF;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    position: relative;
    margin-left: 10px;
	font-family:tahoma;
}

button.accordion.active:before {
    content: "-";
	background-color:#fd6801;
	color:#FFF;
	line-height: 18px;
}

div.panel {
	padding: 0px 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

div.panel.show {
    max-height: 9999px;
    margin-bottom: 15px;
}

#search-box{
    background-color: #fd6801;
	color:#FFF;
	font-size:14px;
	margin:0px;
}
#search-box:before,
#search-box:after {
	content:"";
    color:#fd6801;
	background-color: #fd6801;
}