@charset "utf-8";
/* CSS Document */

body {
	margin: 0px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	}
	
.txt_green{
	color:#009a52;
}

.txt_bold{
	font-weight:bold;
}

.textred {
	color: #C00;
	font-weight: bold;
}

.textlarger {
	font-size: 14px;
}

.box-addtocart{
    border:solid 1px #dddddd;
    border-radius:5px;
    padding:20px;
    width:380px;
}
.link-cart{
    color:#FFF;
    padding:5px;
    text-decoration:none;
    background-color:#f26522;
    border-radius: 5px;
    padding:1px 5px;
}