/**{
	padding:0px;
	list-style:none;
}*/
.slider {
	width:100%;
	min-width:650px;
	height:650px;
	position:absolute;
	overflow:hidden;
	text-align:center;
	z-index:0;
}
.slider .bd {
	width:650px;
	position:absolute;
	left:10px;
}
.slider .bd li {
	width:650px;
	overflow:hidden;
	padding:0px;
	list-style:none;
}
.slider .bd li img {
	display:block;
	width:650px;
	height:650px;
}
.slider .tempWrap {
	overflow:visible !important
}
.slider .tempWrap ul {
	margin-left:-1310px !important;
}
.slider .hd {
	position:absolute;
	width:100%;
	left:-270px;
	bottom:80px;
	text-align:center;	
}
.slider .hd li {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:8px;
	height:8px;
	line-height:99px;
	overflow:hidden;
	background:url(../images/slider-btn.png) 0 -10px no-repeat;
	margin:0 5px;
	cursor:pointer;
	filter:alpha(opacity=60);
	opacity:0.6;
	
}
.slider .hd li.on {
	background-position:0 0;
	filter:alpha(opacity=100);
	opacity:1;
	
}
.slider .pnBtn {
	position:absolute;
	z-index:1;
	top:0;
	width:100%;
	height:650px;
	cursor:pointer;
}
.slider .prev {
	left:-50%;
	margin-left:-600px;
}
.slider .next {
	left:50%;
	margin-left:600px;
}
.slider .pnBtn .blackBg {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:650px;
	background:#FFF;
	filter:alpha(opacity=85);
	opacity:0.85;
}
.slider .pnBtn .arrow {
	display:none;
	position:absolute;
	top:50px;
	z-index:1;
	width:60px;
	height:650px;
}
.slider .pnBtn .arrow:hover {
	filter:alpha(opacity=60);
	opacity:0.6;
}
.slider .prev .arrow {
	right:0;
	background:url(../images/slider-arrow.png) -120px 0 no-repeat;
}
.slider .next .arrow {
	left:0;
	background:url(../images/slider-arrow.png) 0 0 no-repeat;
}