/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{display:none;position:absolute;}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:1;}

ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:1;}
ol.bjqs-markers li{float:left;}

p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* demo styles */



#container{
  width:980px;
  padding:100px 0;
  margin:0 auto;
  overflow:hidden;
}

#banner {
  height:300px;
  width:700px;
  margin:0 auto;
  position:relative;
}

 ul.bjqs-controls li a{
  display:block;
  padding:5px 10px;
  position:absolute;
  background:#fff;
  color:#fd0100;
  text-decoration:none;
  text-transform:uppercase;
}

a.bjqs-prev{
  left:0;
}

a.bjqs-next{
  right:0;
}

 p.bjqs-caption{
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
}

 ol.bjqs-markers{
  position: absolute;
	bottom: 10px; right: 0px;
	width: 180px; height:20px;
	text-align: right;
	line-height: 20px;
	
}

 ol.bjqs-markers li{
  float:left;
  margin:0 3px;
  
}

 ol.bjqs-markers li a{
 padding: 3px 5px 3px 5px;
	text-decoration: none;
	color: #00b02e;
	background:#FFF;
	font-weight: bold;
	font-size:10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;

}

ol.bjqs-markers li.active-marker a{
  font-weight: bold; 
	background: #00b02e;
	color: #fff;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
