@charset "utf-8";
/* CSS Document */

@font-face{font-family:supermarket; src:url('../fonts/supermarket.ttf')}

body{
	font-family: Tahoma, helvetica;
	font-size:14px;
	background-color:#FFF;
}

#page{
	display:none;
}
button{
    border: 0px;
    padding: 0px 10px;
    line-height: 31px;
    font-weight: bold;
}

a:link, a:visited{	
	color:#000;
    text-decoration: none;
}
a:hover{
	color:#00aeef;
}
.header-box{
    display: table;
    width: 1200px;
    margin: 0px auto;
}
.header-row{
    float:right;
    clear: right;
    padding: 10px 0px;
}
.header-col{
    display: inline-block;
	margin-left:20px;
}
.header-col a:link{
    color: #FFF;
}
.header-col a:visited{
    color: #FFF;
}
span.cart-amount{
    border-radius: 30px;
    background-color: #f25822;
    padding: 5px;
}
.banner-box {
    display: table;
    width: 1200px;
    margin: 0px auto;
    position: relative;
    margin-top: 125px;
}
.mainsite-box{
	display:table;
	width:1200px;
	margin:10px auto;
}
.recom-box,
.recom-subrow{
	display:table;
	width:100%;
}
.recom-subrow{
	border-bottom:1px solid #f25822;
}
.recom-subrow:last-child{
	border-bottom:0px solid #f25822;
}
.recom-boxcol{
	display:table-cell;
	vertical-align:middle;
	position:relative;
	border:1px solid #f25822;
	border-left:0px solid #f25822;
}
.recom-boxcol:nth-child(2){
	width:30%;
}
.recom-subcol{
	display:table-cell;
	width:33%;
	border-left:1px solid #f25822;
	height:210px;
	vertical-align:middle;
	position:relative;
}
.subtitle{
	background-color:#f25822;
	text-align:center;
	color:#FFF;
	font-size:25px;
    font-family:supermarket;
}
.subtitle:after{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -51px;
    top: 40%;
    border: solid transparent;
    border-left-color: #f25822;
    border-width: 25px;
    z-index: 999;
}
.recom-boxcol img,
.recom-subcol img{
	width:100%;
	height:auto;
	object-fit:cover;
	max-width:100%;
	max-height:100%;
}
.product-box{
	margin:10px 0px;
    display: table;
    width: 100%;
}
.product-box ul {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.product-box li {
    position: relative;
    width: 20%;
    display: table-cell;
    padding: 0px 5px;
}
.product-box li:first-child{
    padding-left: 0px;
}
.product-box li:last-child{
    padding-right: 0px;
}

.product-box-row{
border: 1px solid #e0e0e0;    
}
.product-box li:hover{
    cursor: pointer;
}

.product-box-img{
	display:inline-block;
	width:100%;
	text-align:center;
}
.product-box-img img{
	width:auto;
	height:auto;
	object-fit:contain;
	max-width:64px;
	max-height:64px;
	margin:20px 0px;
}
.product-box-img-title{
	text-align: center;
    font-size: 16px;
    margin: 10px 0px;
}
.product-box-img-more {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 45%;
}
.title-box{
	margin:10px 0px;
}
.title-box-txt{
    font-family:supermarket;
	font-size:25px;
	font-weight:bold;
}
.footer-box{
	border-top:4px solid #f25822;
	background-color:#000;
	padding:20px 0px;
	color:#FFF;
}
.footer-menu a:link,
.footer-menu a:visited{
	text-decoration:none;
	color:#FFF;
}
.footer-menu a:hover{
	color:#f25822;
}
.footer-box-row{
	display:table;
	width:1200px;
	margin:0px auto;
}
.footer-box-col{
width: 33%;
display: table-cell;
vertical-align: top;
}
.footer-box-col:last-child {
    width: auto;
    float: right;
}
.footer-title{
	font-size:19px;
	font-family:supermarket;
	margin-bottom:10px;
}
.footer-menu ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.footer-menu li {
    float: left;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 5px;
}
.footer-menu li:before{
	content:"●";
	color:#f25822;
	margin-right:10px;
}
.enews-inp{
	padding:8px 10px ;
	border:0px;
}
.btn-org{
	border:0px;
	background-color:#f25822;
	color:#FFF;
}
.navbar{
    background-color: #e1e1e1;
    position: relative;
    margin-top: 105px;
    padding: 10px 0px;
}
.navbar-box{
    display: table;
    width: 1200px;
    margin: 0px auto;
}
.navbar-box a:after{
	content: "\e900";
	font-family: 'arrow' ;
	margin:0px 5px 0px 8px;
	position:relative;
	top:1px;
}
.cata-box,
.product-item{
	display:table-cell;
	vertical-align:top;
}
.cata-box{
	padding-right:20px;
	width:220px;
}
.cata-box-row{
	margin-bottom:10px;
}
.cata-title{
	padding:7px 0px;
}
.cata-title-txt{
	font-weight:bold;
}
.cata-box ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.cata-box li{
	float: none;
    display: block;
    border: 0px solid #e0e0e0;
    padding: 0px;
    position: relative;
    width: auto;
    margin-right: 0px;
	margin-left:10px;
	padding:5px 0px;
}

.cata-box li:before{
	content:"●";
	color:#f25822;
	margin-right:10px;
}
.cata-box li:last-child {
    float: none;
    margin-right: 0px;
}
.cata-box li :link{
	color:#000;
	text-decoration:none;
}
.cata-box li :hover{
	color:#f25822;
}
.recom-box{
}
.recom-box-row{
	border:1px solid #CCC;
	padding:10px;
	margin-bottom:10px;
	box-sizing: border-box;
}
.recom-img{
	height:175px;
}
.recom-img img{
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	object-fit:contain;
}
.recom-title {
    padding: 10px 0px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
    line-height: 20px;
}
.recom-title p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recom-price{
	background-color:#f25822;
	color:#FFF;
	font-size:14px;
	text-align:right;
	position:relative;
	height:20px;
	padding:10px;
}
.recom-price:before {
    content: "ราคา";
    position: absolute;
    left: 0;
    height: 100%;
    width: 40px;
    text-align: left;
    background-color: #000;
    padding: 0px 0px 0px 10px;
    line-height: 39px;
    top: 0px;
}
.recom-price:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid #000;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    left: 50px;
    border-left: 20px solid #000;
}
.product-sort{
	margin-bottom:15px;
}
.product-sort select{
	padding:5px;
	width:200px;
}
.product-list ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.product-list li {
    width: 32%;
    float: left;
    margin-right: 17px;
    margin-bottom: 10px;
    border: 0px solid #CCC;
    display: block;
    padding: 0px;
}
.product-list li:nth-child(3n+0){
	float:right;
	margin-right:0px;
}
.page-bar{
	display:table;
	width:100%;
}
.page-total,
.page-num{
	display:table-cell;
	width:50%;
	vertical-align:middle;
}
.page-total{
	font-weight:bold;
}
.page-num ul{
	float:right;
	list-style:none;
	padding:0px;
	margin:0px;
	display:inline-block;
	width:auto;
}
.page-num li{
	float: left;
    border: 0px solid #e0e0e0;
    padding: 5px 9px;
    position: relative;
    width: auto;
    margin-right: 0px;
	margin-left:2px;
	background-color:#bdbdbd;
	color:#FFF;
}
.page-num li#select,
.page-num li:hover{
	background-color:#f25822;
	cursor:pointer;
}
.page-num li:first-child{
	background-color: #000;
    height: 16px;
    margin-left: 0px;
    width: 16px;
}
.page-num li:last-child{
	background-color: #000;
    height: 16px;
    width: 16px;
}
.page-num li:first-child:before {
    content: "\e900";
    font-family: 'back';
    color: #FFF;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}
.page-num li:last-child:before {
    content: "\e900";
    font-family: 'arrow';
    color: #FFF;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}
.product-title{  
display: inline-block;
width: 100%;
}
.product-title-txt{
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.box-title{  
display: inline-block;
width: 100%;
border-bottom: 1px solid #f25822;
margin-bottom: 10px;
}
.box-title-txt{
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    
}
.product-share{
    float: right;
    display: table;
}
.product-share-col{
    display: table-cell;
    padding-left: 10px;
}
.product-detail{
display: inline-block;
width: 100%;
}
.product-detail-row{
    display: table;
    width:100%;
    margin-bottom: 10px;
}
.product-detail-img,
.product-detail-content{
    display: table-cell;
    vertical-align: top;
}
.product-detail-img{
    width: 40%;
    padding: 10px;
}
.product-detail-img img{
    width: 100%;
    object-fit: contain;
    border: 1px solid #f25822;    
}
.product-detail-content{
    padding-left: 20px;
}
.detail-title{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f25822;
    margin-bottom: 15px;
}
.detail-title-txt{
padding-bottom: 10px;
font-size: 14px;
font-weight: bold;
}
.detail-txt{
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
}
.detail-color{
    float: left;
}
.detail-color ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.detail-color li{
    float: left;
    width:35px;
    height: 35px;
    margin-right: 3px;
}
.detail-color label{
    display: inline-block;
    margin-bottom: 10px;
}
#blue{ background-color: #82e2ea;}
#pink{ background-color: #f97995;}
#red{ background-color: #ff3d31;}
#gray{ background-color: #6d6d6d;}
.detail-cart{
    float: right;
}
.price-txt{
    font-size: 20px;
    font-weight: bold;
}
.price-txt:before{
    content:"ราคา";
}
.txt-11{
    font-size: 14px;
}
.txt-org{
    color: #f25822;
}
.add-cart button{
    background-color: #f25822;
    color: #FFF;
    width: 100%;
}
ul.detail-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.detail-list li{
    display: block;
    position: relative;
}
.detail-list li:nth-child(2n){
    background-color: #e8e8e8;
}
.detail-list-row{
    display: table;
    width: 100%;
}
.detail-list-title,
.detail-list-content{
    display: table-cell;
    vertical-align: top;
    padding: 10px 0px;
}
.detail-list-title{
    width:300px;
    padding-left: 10px;
    font-weight: bold;
}

.product-near{
}
.product-near ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: table;
    width: 100%;
}
.product-near li {
    width: 20%;
    display: table-cell;
    border: 0px solid #CCC;
    padding: 0px 5px;
}

.product-near li:first-child{
    padding-left: 0px;
}
.product-near li:last-child{
    padding-right: 0px;
}

.product-lastview{
}
.product-lastview ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: table;
    width: 100%;
}
.product-lastview li {
    width: 20%;
    display: table-cell;
    border: 0px solid #CCC;
    padding: 0px 5px;
}

.product-lastview li:first-child{
    padding-left: 0px;
}
.product-lastview li:last-child{
    padding-right: 0px;
}
.vdo-product{
    display: table;
    width: 800px;
    margin: 0px auto;
}
.txt-center{
    text-align: center;
}
.content-box img{
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.contact-row{
	display:table;
	width:100%;
	box-sizing:border-box;
}
.contact-colleft,
.contact-colright{
	display:table-cell;
	vertical-align:top;
	width:50%;
	position:relative;
}
.contact-colleft{
	padding:0px 10px 0px 0px;
}
.contact-colright{
	padding:0px 0px 0px 10px;
}
.contact-colleft img,
.contact-colright img{
	width:100%;
	height:auto;
	object-fit:contain;
}
.contact-colright iframe{
	height:100%;
	position:absolute;
}