@charset "utf-8";
/* CSS Document */

body{
    font-family:tahoma;
    font-size:12px;
    margin:0px;
    height:100%;
	filter: gray !important; /* IE6-9 */
	filter: grayscale(80%)  !important; /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(80%)  !important; /* Google Chrome, Safari 6+ & Opera 15+ */
}
.banner-block{
    background-image:url(../images/banner-block.png);
    background-position:top;
    background-repeat:no-repeat;
    width:650px;
    height:650px;
    position:absolute;
    z-index:0;
}

.sub-banner{
    width:650px;
    height:650px;
    margin:0px 0px 0px 0px;
    float:left;
    position:absolute;
    z-index:-1;
}

.mainsite{
    width:100%;
    float:left;
    position:absolute;
}
.header{
    display:inline-block;
    width:1200px;
}
.header-row{
    display:inline-block;
    padding:10px 0px;
    float:right;
}
.logo{
    display:inline-block;
    margin:10px 0px 0px 10px;
    float:left;
    width:200px;
}
.curency, .lang, .login, .memberinfo{
    float:left;
    margin-left:5px;
    clear:right;
}
.memberinfo a{
    color:#f26522;
    text-decoration:none;
    font-weight:bold;
}
.memberinfo a:hover{
    color:#000;
}
.memberinfo-cart a{
    color:#1c94c4;
}
.memberinfo-cart a:hover{
    text-decoration:underline;
}
.curency img, .lang img, .login img{
    vertical-align:middle;
    margin: 0px 5px;
}
.mainbox{
    display:inline-block;
}
.mainbox-row{
    display:inline-block;
    width:1200px;
}
.product-slide{
    position:relative;
    float:left;
    width:660px;
    top:310px;
    height:234px;
    z-index:0;
}
.ads-right{
    float:right;
    width:440px;
}
.news-box{
    margin:0px 0px 10px 0px;
    padding:0px;
    display:inline-block;
    min-height:230px;
}
.news-box-title{
    margin-bottom:10px;
    display:inline-block;
    width:100%;
}
.news-box-title-text{
    color:#612a16;
    font-size:22px;
    float:left;
}
.txt-org{
    color:#f26522;
}
.news-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.news-more a:link,.news-more a:visited{
    text-decoration:none;
    color:#F00;
}
.news-more a:hover{
    color:#000;
}
.list-news{
}
.list-news ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.list-news li{
    padding:10px 0px;
    border-bottom:1px dotted #CCC;
    display:inline-block;
    width:100%;
}
.list-news .box-left{
    float:left;
    width:80px;
    height:80px;
    /*background-color:#CCC;*/
}
.list-news .box-left img{
    width:80px;
}
.list-news .box-right{
    float:right;
    width:330px;
}
.list-news .box-right .title-news{
    float:left;
    width:260px;
    height:80px;
    overflow:hidden;
    border:0px dotted #F00;
}
.list-news .box-right .title-news-txt{
    font-weight:bold;
}
.list-news .box-right .title-news-txt a:link, .list-news .box-right .title-news-txt a:visited{
    text-decoration:none;
    color:#086b2a;
}
.list-news .box-right .title-news-txt a:hover{
    color:#000;
}
.list-news .box-right .title-news-content{
    margin-top:10px;
}
.list-news .box-right .title-date{
    float:right;
    width:60px;
    text-align:right;
    font-size:10px;
    color:#b6b6b6;
}
.youtube-box{
    width:100%;
    display:inline-block;
}
.youtube-box-title{
    margin-bottom:10px;
    display:inline-block;
    width:100%;
}
.youtube-box-title-txt{
    color:#612a16;
    font-size:22px;
    float:left;
}
.youtube-box-title-date{
    float:right;
}
.youtube-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.youtube-more a:link,.youtube-more a:visited{
    text-decoration:none;
    color:#F00;
}
.youtube-more a:hover{
    color:#000;
}
.youtube-box-content{
}

.clear-row{
    height:30px;
}
.rec-box{
    float:left;
    width:400px;
    margin:0px 20px 0px 0px;
}
.rec-box-title{
    display:inline-block;
    width:100%;
}
.rec-box-title-txt{
    float:left;
    color:#612a16;
    font-size:22px;
}
.rec-box-title-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.rec-box-title-more a:link,.rec-box-title-more a:visited{
    text-decoration:none;
    color:#F00;
}
.rec-box-title-more a:hover{
    color:#000;
}
.rec-box-content{
}
.rec-box-content ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.rec-box-content li{
    padding:10px 0px;
    margin:0px;
    float:left;
    width:100%;
}
.rec-box-content li .rec-img{
    float:left;
    width:130px;
    height:130px;
    overflow:hidden;
    border:5px solid #FFF;
    box-shadow:2px 2px 10px #555;
    text-align:center;
}
.rec-box-content li .rec-img img{
    height:130px;

}
.rec-detail{
    float:right;
    width:220px;
}
.rec-detail td{
    padding:0px 0px 10px 0px;
}
.rec-detail input{
    width:30px;
    border-radius:5px;
    text-align:center;
    border:1px solid #CCC;
    padding:5px;
}

.sell-box{
    float:left;
    width:400px;
    margin:0px 20px;
}
.sell-box-title{
    display:inline-block;
    width:100%;
}
.sell-box-title-txt{
    float:left;
    color:#612a16;
    font-size:22px;
}
.sell-box-title-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.sell-box-title-more a:link,.sell-box-title-more a:visited{
    text-decoration:none;
    color:#F00;
}
.sell-box-title-more a:hover{
    color:#000;
}
.sell-box-content{
}
.sell-box-content ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.sell-box-content li{
    padding:10px 0px;
    margin:0px;
    float:left;
    width:100%;
}
.sell-box-content li .rec-img{
    float:left;
    width:130px;
    height:130px;
    overflow:hidden;
    border:5px solid #FFF;
    box-shadow:2px 2px 10px #555;
}
.sell-box-content li .rec-img img{
    height:130px;

}
.rec-detail{
    float:right;
    width:220px;
}
.rec-detail td{
    padding:0px 0px 10px 0px;
}
.rec-detail input{
    width:30px;
    border-radius:5px;
    text-align:center;
    border:1px solid #CCC;
    padding:5px;
}

button, input[type=submit] {
    background-color:#086b2a;
    text-align:center;
    padding:5px 10px;
    color:#FFF;
    border:0px;
}

.side-box{
    float:right;
    width:300px;
    margin:0px;
    padding:0px 20px 0px 0px;
}
.gallery-box{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
}
.gallery-box-title{
    display:inline-block;
    width:100%;
}
.gallery-box-title-txt{
    float:left;
    color:#612a16;
    font-size:22px;
}
.gallery-box-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.gallery-box-more a:link,.gallery-box-more a:visited{
    text-decoration:none;
    color:#F00;
}
.gallery-box-more a:hover{
    color:#000;
}
.gallery-content{
}
.gallery-content ul{
    list-style:none;
    padding:0px;
    margin:10px 0px;
}
.gallery-content li{
    padding:0px;
    margin:0px 5px;
    float:left;	
    width:90px;
    display:inline-block;
}
.gallery-content li img{
    width:90px;
    border:3px solid #FFF;
    box-shadow:2px 2px 5px #999;
    object-fit: cover;
    height: 80px;
}
.follow-box{
    display:inline-block;
    width:100%;
}
.news-letter-box{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
}
.news-letter-box-title{
    display:inline-block;
    width:100%;
}
.news-letter-box-title-txt{
    float:left;
    color:#612a16;
    font-size:22px;
}
.news-letter-box-content{
    text-align:center;
}
.news-letter-box-content input{
    border:1px solid #CCC;
    padding:5px 10px;
    border-radius:10px;
    width:90%;
}
.footer{
    width:100%;
    display:inline-block;
    border-top:1px solid #CCC;
    padding:20px 0px;
}
.footer-box{
    width:1200px;
    display:inline-block;
    margin-left:20px;
}
.footer-box-address{
    width:500px;
    float:left;
}
.footer-box-follow{
    float:left;
    width:300px;
}
.footer-box-link{
    float:right;
    background-color:#086b2a;
    width:355px;
    border-radius:10px;
    padding:5px 0px;
    margin:0px;
    color:#FFF;
    text-align:center;
}
.footer-box-link select{
    width:265px;
    border:0px;
    border-radius:5px;
}
.mainbox-content{
    float:left;
    width:870px;
    margin-left:0px;
    margin-bottom:20px;
    border:0px dotted #F00;
    display:inline-block;
}
.mainbox-content-full{
    float:left;
    width:100%;
    margin-left:20px;
    margin-bottom:20px;
    border:0px dotted #F00;
    display:inline-block;
}


.link-more:link,.link-more:visited{
    color:#F00;
    text-decoration:none;
}
.link-more:hover{
    color:#000;
}
.txt-discount{
    color:#000;
    text-decoration:line-through;
}
.txt-bold{
    font-weight:bold;
}
.txt-red{
    color:#F00;
}
div{
    border:0px dotted #F00;
}
.mainsub-menu-list{
    float:left;
    width:235px;
}
.mainsub-menu-list ul{
    list-style:none;
    padding:0px;
    margin:10px 0px;
}
.mainsub-menu-list li{
    margin:0px 0px 0px 5px;
    padding:5px 0px 5px 30px;
    background-image:url(../images/list-circle.png);
    background-position:10px 10px;
    background-repeat:no-repeat;
    border-radius:10px;
}
.mainsub-menu-list li:hover{
    cursor:pointer;
    background-color:#086b2a;
    background-image:url(../images/list-circle.png);
    background-position:10px 4px;
    color:#FFF;
}
.mainsub-menu-title{
    border-bottom:1px dotted #999;
    padding-bottom:10px;
}
.mainsub-menu-title-txt{
    color:#612a16;
    font-size:22px;
}
.mainsub-content-box{
    float:left;
    width:610px;
    margin:0px 0px 0px 20px;
    border:0px dotted #F00;
}
.mainsub-content-box{
    float:left;
    width:610px;
    margin:0px 0px 0px 20px;
    border:0px dotted #F00;
}
.mainsub-content-box-title{
    color:#086b2a;
    font-size:25px;
    margin-bottom:10px;
    border:0px dotted #F00;
}
.mainsub-content-box-detail{
    border:0px dotted #F00;
    display:inline-block;
    width:100%;
}
.mainsub-content-box-detail p{
    margin:0px 0px 10px 0px;
    line-height:20px;
}
.txt-green{
    color:#086b2a;
}

.product-box{
    float:left;
    width:925px;
    margin:0px 0px 0px 20px;
}
.product-box-title{
    display:inline-block;
    width:100%;
}
.product-box-title-txt{
    float:left;
    color:#612a16;
    font-size:22px;
}
.product-box-title-more{
    float:right;
    display:inline-block;
    bottom:0px;
    margin-top:10px;
}
.product-box-title-more a:link,.product-box-title-more a:visited{
    text-decoration:none;
    color:#F00;
}
.product-box-title-more a:hover{
    color:#000;
}
.product-box-content{
}
/*.product-box-content ul {
    list-style:none;
    padding:0px;
    margin:0px;
}*/
.product-box-content-list{
    list-style:none;
    padding:0px;
    margin:0px;
}
/*.product-box-content li{
    padding:10px 0px;
    margin:0px 15px;
    float:left;
    width:430px;
    border:1px dotted #F00;
}*/
.product-box-content-list-item{
    padding:10px 0px;
    margin:0px 15px;
    float:left;
    width:430px;
    border:0px dotted #F00;
}
.product-box-content li .product-img{
    float:left;
    width:130px;
    height:130px;
    overflow:hidden;
    border:5px solid #FFF;
    box-shadow:2px 2px 10px #555;
}
.product-box-content li .product-img img{
    height:130px;
}
.product-detail{
    float:right;
    width:250px;
}
.product-detail td{
    padding:0px 0px 10px 0px;
}
.product-detail input{
    width:30px;
    border-radius:5px;
    text-align:center;
    border:1px solid #CCC;
    padding:5px;
}

.news-content-box{
    width:855px;
    display:inline-block;
    border:0px dotted #F00;
}
.news-content-box-title{
    display:inline-block;
    width:100%;
    margin-bottom:10px;
}
.news-content-box-title-txt{
    color:#612a16;
    font-size:22px;
}
.news-content-box-detail{
    display:inline-block;
    width:100%;
}
.news-content-box-detail ul{
    list-style:none;
    padding:0px;
    margin:0px;
}
.news-content-box-detail li{
    /*width:100%;*/ /******************************/
    display:inline-block;
    float:left;	
}
.news-content-box-detail li .newsbox-left{
    float:left;
    margin:10px 10px;
    width:230px;
}
.news-content-box-detail li .newsbox-right{
    float:right;
    margin:10px 10px;
    width:580px;
    border:0px dotted #F00;
    height:170px;
    overflow:hidden;
}
.news-content-box-detail li.bg-gray{
    background-color:#f7f7f7;
}
.news-content-box-detail-title{
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px dotted #999;
    display:inline-block;
    width:100%;
}
.news-content-box-detail-title-txt{
    font-size:22px;
    color:#086b2a;
    float:left;
}
.news-content-box-detail-title-txt a{
    color:#086b2a;
    text-decoration:none;
}
.news-content-box-detail-title-txt a:hover{
    color:#000;
}
.news-content-box-detail-title-more{
    font-size:12px;
    color:#999;
    margin-top:10px;
    float:right;
}
.news-content-box-detail-content{

}

.txt-brown{
    color:#612a16;
}
.txt-center{
    text-align:center;
}
.contact-box-detail{
    width:100%;
    display:inline-block;
}
.contact-box-detail-content{
    display:inline-block;
    width:100%;
    margin:10px 0px;

}
.contact-box-detail-left{
    float:left;
    width:450px;
    border:1px solid #ccc;
    background-color:#EEE;
    border-radius:10px;
    padding:10px;
}
.contact-box-detail-right{       
    float:right;
    width:350px;
    padding:10px 25px 10px 10px;
}
.contact-box-detail-right input,.contact-box-detail-right textarea{
    border-radius:10px;
    border:1px solid #999;
    padding:5px 10px;
}

.galleryimg-content-box-icon{
    display: table-cell;
    float:left;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #333;
    overflow: hidden;
    height:50px;
    width:50px;
    vertical-align: middle;
}
.galleryimg-content-box-title-txt{
    padding-left:13px;
    display: table-cell;
    width:780px;
    vertical-align: middle;
    font-size:22px;
    color:#086b2a;
}
.galleryimg-content-box-title-txt div{
    font-size:13px;
    color:#000;
    font-weight:normal;
    padding-top:7px;
}

.galleryimg-content-box-thumb{

}
.galleryimg-content-box-thumb-bigitem{
    display:table-cell;
    vertical-align:top;
    height:200px;
    overflow:hidden;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryimg-content-box-thumb-bigitem img{
    width:390px;
}
.galleryimg-content-box-thumb-smallitem{
    display:table-cell;
    vertical-align: top; 
    width:400px;
    padding-left:10px;
}
.galleryimg-content-box-thumb-smallitem div{
    display:inline-block;
    height:101px;
    overflow:hidden;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryimg-content-box-thumb-smallitem img{
    width:180px;
    /*height:101px;*/    
}




.galleryimg-content-box-footer{
    padding:10px 0px 5px 0px;
}
.galleryimg-content-box-footer-publish{
    width:750px;
    display:table-cell;
}
.galleryimg-content-box-footer-readmore{
    display:table-cell;
}
.galleryimg-content-box-footer-readmore a{
    color:#ff0000;
    text-decoration:none;
}
.galleryimg-content-box-footer-readmore a:hover{
    color:#000;
}
.galleryimg-content-box-thumb-firstitem{
    display:table-cell;
    padding-bottom:5px; 
}
.galleryimg-content-box-thumb-firstitem img{
    width:838px;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryimg-content-box-thumb-moreitem{
    display:inline-block;
    width:200px;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
    overflow:hidden;
    height:120px;
}
.galleryimg-content-box-thumb-moreitem img{
    width:100%;
    min-height:100%;

}
.galleryimg-content-box-footer-backbutton{
    color:#ff0000;
    text-decoration:none;
    cursor:pointer;
}
.galleryimg-content-box-footer-backbutton:hover{
    color:#000;
}





.galleryvideo-content-box-thumb-bigitem{
    display:table-cell;
    vertical-align:top;
}
.galleryvideo-content-box-thumb-bigitem img{
    width:390px;
    /*height:220px;*/
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryvideo-content-box-thumb-smallitem{
    display:table-cell;
    vertical-align: top; 
    width:400px;
    padding-left:10px;
}
.galleryvideo-content-box-thumb-smallitem div{
    display:inline-block;
    padding:0px 5px 5px 0px;
}
.galleryvideo-content-box-thumb-smallitem img{
    width:180px;
    height:138px;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryvideo-content-box-thumb-firstitem{
    display:table-cell;
    padding-bottom:5px; 
}
.galleryvideo-content-box-thumb-firstitem img{
    width:841px;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryvideo-content-box-thumb-firstitem a{
    color:#000;
    text-decoration:none;
}
.galleryvideo-content-box-thumb-firstitem a:hover{
    color:#ff0000;
}
.galleryvideo-content-box-thumb-moreitem{
    display:inline-block;
    width:200px;
    padding:5px 10px 0px 0px;
}
.galleryvideo-content-box-thumb-moreitem img{
    width:100%;
    border:solid 5px #fff;
    box-shadow: 2px 2px 5px #999;
}
.galleryvideo-content-box-thumb-moreitem-title{
    width:100%;
    height:30px;
    overflow:hidden;
}
.galleryvideo-content-box-thumb-moreitem-title a{
    color:#000;
    text-decoration:none;
}
.galleryvideo-content-box-thumb-moreitem-title a:hover{
    color:#ff0000;
}


.search-box{
    display: table;
    width: 100%;
    margin: 10px 0px;
}
.search-box-row{
    display: table;
    width: 100%;
    padding: 5px 0px;
}
.search-box-left{
    display: table-cell;
    width: 60px;
    padding-right: 10px;
    font-weight: bold;
    vertical-align: middle;
}
.search-box-mid{
    display: table-cell;
    width: 10px;
    padding-right: 10px;
    font-weight: bold;
    vertical-align: middle;

}
.search-box-right{
    display: table-cell;
    vertical-align: middle;
}
.search-box-right img{
    vertical-align: middle;
}
.search-box-right select, .search-box-right input{
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.search-button{
    float: right;
    display: block;
}
.search-button button{
    width:90px;
}
.search-resualt{
    display: table;
    width: 100%;
    background-color: #faa43f;
    border-radius: 5px;
    color: #FFF;
}
.search-resualt-txt{
    display: table-cell;
    padding: 5px 10px;
}
.search-resualt-table{
    padding-top:10px;
}
.search-result-item{

}
.search-result-item_rowbg{
    background-color:#f7f7f7;
}
.search-result-item-more a:link,.search-result-item-more a:visited{
    text-decoration:none;
    color:#F00;
}
.search-result-item-more a:hover{
    color:#000;
}




















.register-box-group{
    border:solid 1px #ccc;
    border-radius: 5px;
}
.register-box-group legend{
    font-size: 18px;
    color: #f26522;
    text-align:center;
}
.register-box{
    display: table;
    width: 100%;
    margin: 10px 0px;
}
.register-box-row{
    display: table;
    width: 100%;
    padding: 5px 0px;
}
.register-box-left{
    display: table-cell;
    width: 250px;
    padding-right: 10px;
    font-weight: bold;
    vertical-align: middle;
    text-align:right;
}
.register-box-left span{
    color:#ff0000;
}
.register-box-mid{
    display: table-cell;
    width: 10px;
    padding-right: 10px;
    font-weight: bold;
    vertical-align: middle;
}
.register-box-right{
    display: table-cell;
    vertical-align: middle;
}
.register-box-right img{
    vertical-align: middle;
}
.register-box-right select, .register-box-right input, .register-box-right textarea{
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.register-button{
    display: block;
}
.register-button button{
    width:90px;
}
.register-box-thankyou a{
    color:#f26522;
    text-decoration:none;
}
.register-box-thankyou a:hover{
    text-decoration:underline;
}
.register-box-thankyou-info{
    font-size:22px;
}
.register-box-thankyou-subinfo{
    font-size:18px;
}


.quotation_add{
    border: 1px #ddd solid;
}
.quotation-header2{
    color: #FFF;
    border: 1px solid #00723c;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5fab01), to(#2a8b64));
    background: -webkit-linear-gradient(top, #2a8b64, #024827);
    background: -moz-linear-gradient(top, #2a8b64, #024827);
    background: -ms-linear-gradient(top, #2a8b64, #024827);
    background: -o-linear-gradient(top, #2a8b64, #024827);
    background-color: #176b47;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}
.cart-table{
    border-top:1px solid #d8d8d8;
    border-left:1px solid #d8d8d8;
}
.cart-table td{
    border-right:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    padding:10px;
}

.productdetail a,a:visited {
    /*color: #ffffff;*/
    font-weight: bold;
}

.productdetail a:hover {
    color: #CC0000;
    font-weight: bold;
}
.productpic img{
    border:1px solid #cecece;
}

.product_price_tab {
    border-bottom: 2px solid #000;
}

.product_price_tab2 {
    border-bottom: 1px solid #cecece;
}
.product-detail-title{
    font-size: 22px;
    color: #086b2a;
    float: left;
}
.product-detail-amount{
    width:40px;
    border-radius:5px;
    text-align:center;
    border:1px solid #CCC;
    padding:5px;
}
.product-detail-shippingtype{
    border-radius:5px;
    text-align:center;
    border:1px solid #CCC;
    padding:5px;
}
.product_box{
    margin:10px 0px auto;
}
.product_box .box1{
    padding:5px;
    margin:0px 5px 5px 10px;
    float:left;
    width:156px;
    line-height:23px;
    border:1px solid #CCC;
}
.product_box .box1 .boxtxt{
    height:150px;
    font-weight:bold;
}
.product_box .box1 p{
    line-height:16px;
    margin:0px 0px 10px 0px;
}



.product_box .box0{
    padding:5px;
    margin:0px 5px 5px 10px;
    float:left;
    width:320px;
    line-height:23px;
    border:1px solid #CCC;
}
.product_box .box0 .boxtxt{
    height:300px;
    font-weight:bold;
}
.product_box .box0 p{
    line-height:16px;
    margin:0px 0px 10px 0px;
}
.txt_price{
    color:#a6000d;
    font-weight:bold;
}
.txt_center{
    text-align:center;
}
.link-cart{
    color:#FFF;
    padding:5px;
    text-decoration:none;
    background-color:#f26522;
    border-radius: 5px;
    padding:1px 5px;
}
.cart-shipping-address-info{
   padding:20px;
   border-top:solid 1px #ccc;
}











.form-error-info{
    color:#ff0000;
}
.sep_line{
    border-top:solid 1px #cccccc;
    height:1px;
}
.box-info{
    text-align:center;
    padding:20px;
    border-radius: 5px;
    background:#e9f5ff
}
.box-form-error-info{
    color:#ff0000;
    font-size:16px;
    padding:10px;
    text-align:center;
}
.txt_green{
    color:#009a52;
}
.bg-gray{
    background-color:#f1f1f1;
}
.txt_bold{
    font-weight:bold;
}
/*----------------- bPopup -------------------*/
.button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}
.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
#popup_info{
    z-index: 9999; 
    opacity: 1; 
    display: block;
    padding:30px;
    background:#ffffff;
    border-radius: 10px;
    min-width:400px;
    text-align:center;
}
#popup_info_text{
    font-size: 16px;
}
#popup_info_text hr{
    border:solid 1px #cccccc;
    border-collapse: collapse;
}