/* menu แนวนอน */
.ddsmoothmenu {
	float:right;
	padding:0px;
	margin:0px;
}

.ddsmoothmenu ul {
	z-index:100;
	margin: 0 auto auto;
	padding: 0;
	list-style-type: none;
	clear:both;
	}

/* เมนูหลัก */
.ddsmoothmenu ul li {
	position:relative;
	float:left;
	color:#000;
	text-align:center;
	margin:0px;
	padding:0px 27px 0px 27px;
	font-weight:bold;
	line-height:32px;
	}
.ddsmoothmenu ul li:link {
	color:white;
}
.ddsmoothmenu .ddselect {
	background: url(../images/submenu_bg.png);
	background-position:top;
	background-repeat:repeat-x;
	}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block; 
text-decoration: none;
color: #FFF;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;

}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: #FFF;
}

.ddsmoothmenu ul li.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
color: #FFF;

	background-color:#196a45;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004a27), to(#53a485));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #53a485, #004a27);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #53a485, #004a27);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #53a485, #004a27);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #53a485, #004a27);
  
}
.ddsmoothmenu ul li.selected_l{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #FFF;

	background-color:#196a45;
  
	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004a27), to(#53a485));
	  
	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(top, #53a485, #004a27);
	  
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(top, #53a485, #004a27);
	  
	  /* IE 10 */
	  background: -ms-linear-gradient(top, #53a485, #004a27);
	  
	  /* Opera 11.10+ */
	  background: -o-linear-gradient(top, #53a485, #004a27);
  
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.ddsmoothmenu ul li.selected_r{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
color: #FFF;

	background-color:#196a45;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004a27), to(#53a485));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #53a485, #004a27);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #53a485, #004a27);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #53a485, #004a27);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #53a485, #004a27);
  
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;


}


.ddsmoothmenu ul li:hover{
	color:#FFF;
	background-image:url(../images/bor_left.jpg);
  background-position:left;
  background-repeat:no-repeat;  
	background-color:#196a45;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53a485), to(#004a27));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #53a485, #004a27);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #53a485, #004a27);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #53a485, #004a27);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #53a485, #004a27);
  
  cursor:pointer;
  
}

.ddsmoothmenu ul li.cuve_l:hover{
	
	background-color:#196a45;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004a27), to(#53a485));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #53a485, #004a27);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #53a485, #004a27);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #53a485, #004a27);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #53a485, #004a27);
  
  cursor:pointer;
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

border-left:0px;

}
.ddsmoothmenu ul li.cuve_r:hover{
	
	background-color:#196a45;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004a27), to(#53a485));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #53a485, #004a27);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #53a485, #004a27);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #53a485, #004a27);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #53a485, #004a27);
  
  cursor:pointer;
  -webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-left:0px;
}


/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background-color:#0a5733;
opacity:0.9;
filter:alpha(opacity=90);
border:1px solid #006b3b;

}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display:list-item;
float: none;
margin:3px 2px;
padding:0px 20px;
text-align:left;
min-width:150px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
padding: 0px;
margin: 0;
}
.ddsmoothmenu ul li ul li a:link,.ddsmoothmenu ul li ul li a:visited{
color:#FFF;
}
.ddsmoothmenu ul li ul li a:hover{
color:#FF0;
}
.ddsmoothmenu ul li ul li:hover{
color:#FF0;
background-image:url(../images/arrow.png);
background-repeat:no-repeat;
background-position: 5px 13px;
}
.bor_left{
	background-image:url(../images/bor_left.jpg);
	background-position:left;
	background-repeat:no-repeat;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{
height: 1%;
} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left:0;
top: 0;
width:0;
height: 0;
background-color:;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}