.header,
.content
{
	text-align: center;
}
.header
{
	color: #626262;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	padding: 0px;
	text-align:center;
	line-height:28px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.header a
{
	display: table;
	position: relative;
	top: 20px;
	left:0;
	right:0;
	margin:0px auto;
	z-index:9999;
}
.header svg {
    width: 32px !important;
    height: auto !important;
}
.content
{
	padding: 150px 50px 50px 50px;
}

@media only screen and (max-width: 1024px){
	#page {
    display: block !important;
    float: right;
    right: 20px;
    top: 20px;
    position: absolute;
}
nav {
	display:none;
}
	#header-inner-nav,
	.mainsub-bar{
		display:none !important;
	}
	#header {
    position: relative !important;
    float: none;
}
	#header-inner {
    width: 100%;
	position: relative;
}
#header-bg {
    position: relative;
}
.banner-box {
    display: table;
    width: 95%;
    position: relative;
    margin: 0px auto;
    margin-bottom: 20px;
	padding-top: 20px;
}
.product-bar ul {
    display: table;
    margin: 0px auto;
    width: 95%;
    max-width: 1200px;
}
.service-box {
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
}
.exploer-box {
    padding: 10px 0px;
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
}
.nav-box {
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.about-box {
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.about-box img{
	width:auto;
	max-width:100%;
}
.product-box {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.service-box {
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.contact-box {
    display: table;
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px;
}
.header-box {
    display: table;
    width: 95%;
    margin: 0px auto;
}
.mainsite-box {
    display: table;
    width: 95%;
    margin: 10px auto;
}
.footer-box-row {
    display: table;
    width: 95%;
    margin: 0px auto;
}
.navbar {
    background-color: #e1e1e1;
    position: relative;
    margin-top: 0px;
    padding: 10px 0px;
}
.navbar-box {
    display: table;
    width: 95%;
    margin: 0px auto;
}
.product-list li {
    width: 31%;
}

}
@media only screen and (max-width: 768px){
.recom-subcol {
    display: table-cell;
    width: 33%;
    border-left: 1px solid #f25822;
    height: 150px;
    vertical-align: middle;
    position: relative;
}
.footer-menu li {
    float: none;
    width: auto;
    margin-left: 20px;
    margin-bottom: 5px;
}
.footer-box-col {
    width: 32%;
    display: table-cell;
    vertical-align: top;
}
.product-list li {
    width: 48%;
}
.product-list li:nth-child(2n) {
    float: right;
    margin-right: 0px;
}
.product-list li:nth-child(3n+0){
    float:left;
}
.product-list li:nth-child(odd){
    float:left;
}
.product-list li:nth-child(even){
    float:right;
}
.cata-box {
    padding-right: 20px;
    width: 170px;
}
.recom-img {
    height: 125px;
}
.product-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.product-title-txt {
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.product-share {
    float: left;
    display: table;
}
.vdo-product {
    width: 100%;
}
.product-near li:nth-child(3){
    padding-right: 0px;
}
.product-near li:nth-child(4),
.product-near li:nth-child(5){
    display: none;
}
.product-lastview li:nth-child(3){
    padding-right: 0px;
}
.product-lastview li:nth-child(4),
.product-lastview li:nth-child(5){
    display: none;
}
}
@media only screen and (max-width: 767px){
.flickity-viewport, .hero-gallery__cell {
    height: 160px!important;
}
.flickity-page-dots {
    padding: 0px 0px 5px 0px;
}
.product-bar{
	display:none;
}
.service-box-content {
    width: auto;
    float: none;
}
.exploer-table-colleft, .exploer-table-colright {
    display: block;
	width:auto;
    vertical-align: top;
    position: relative;
	padding:0px;
}
#img1, #img2, #img3 {
    height: auto;
    overflow: hidden;
    text-align: center;
    border: 1px solid #CCC;
	margin-bottom:10px;
}
.exploer-table-colrow {
    margin-bottom: 10px;
    margin-left: 0;
    position: relative;
}
.product-box li {
    display: block;
    width: auto;
    vertical-align: top;
    float: none;
    border: 0px solid #CCC;
    position: relative;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 0px;
}
.product-box li:nth-child(3n+2) {
    margin-left: 0px;
}
.product-box li:nth-child(3n+3) {
    float: none;
    clear: right;
    margin-right: 0px;
}
.product-table-col:nth-child(1){
    display: none;
}
.product-table-col:nth-child(2), .product-table-col:nth-child(3) {
    border-left: 0px solid #CCC;
	width:50%;
}
.partner-box-col {
    display: block;
    width: auto;
    vertical-align: middle;
    text-align: center;
	padding:20px 0px;
}
.banner-box {
    padding-top:20px;
}
.service-box-content-title {
    font-size: 20px;
}
.about-box {
	min-height:initial;
}
.exploer-title {
    font-size: 18px;
}
.more-prod {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 12px;
}
.regis-form{
	width:300px;
}
#header-inner-logo {
    float: left;
    height: 35px;
    margin: 10px 0px;
}
#page {
    display: block !important;
    float: right;
    right: 20px;
    top: 10px;
    position: absolute;
}
.header a {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    z-index: 9999;
}
.header-row {
    position: relative;
    right: 60px;
    top: 10px;
}
.header-col:nth-child(1),
.header-col:nth-child(2){
    display: none;
}
.recom-boxcol {
    display: block;
    vertical-align: middle;
    position: relative;
    border: 0px solid #f25822;
}
.recom-boxcol:nth-child(2) {
    width: auto;
    padding: 10px;
    border: 1px solid #f25822;
}
.recom-subcol {
    display: block;
    width: auto;
    border: 1px solid #f25822;
    height: auto;
    vertical-align: middle;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}
.recom-boxcol img, .recom-subcol img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 150px;
}
.subtitle:after {
    display: none;
}
.footer-box-col {
    width: auto;
    display: block;
    vertical-align: top;
}
.footer-box-col:last-child {
    width: auto;
    float: none;
}
.recom-subrow {
    border-bottom: 0px solid #f25822;
}
.banner-box {
    margin-bottom: 0px;
    padding-top: 10px;
}
.flickity-page-dots {
    margin-top: -58px;
}
.cata-box{
    display: none;
}
.product-list li:nth-child(odd) {
    float: none;
}
.product-list li:nth-child(even) {
    float: none;
}
.page-total, .page-num {
    display: block;
    width: auto;
    vertical-align: middle;
    padding: 5px 0px;
}
.page-num ul {
    float: none;
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    display: table;
    width: auto;
}
.page-num li {
    float: none;
    border: 0px solid #e0e0e0;
    padding: 5px 9px;
    position: relative;
    width: auto;
    margin-right: 0px;
    margin-left: 2px;
    background-color: #bdbdbd;
    color: #FFF;
    height: auto;
    display: inline-block;
}
.page-num li:first-child {
    background-color: #000;
    height: 26px;
    margin-left: 0px;
    width: 26px;
    margin-right: 2px;
}
.page-num li:last-child {
    background-color: #000;
    height: 26px;
    margin-left: 0px;
    width: 26px;
    margin-left: 2px;
}
.product-share-col {
    display: block;
    padding: 5px 0px;
}
.product-detail-img, .product-detail-content {
    display: block;
    width: auto;
    vertical-align: top;
    padding-left: 0px;
}
.detail-color,
.detail-cart{
    float: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
}
.price-txt {
    text-align: center;
    padding-bottom: 10px;
}
.detail-list-title, .detail-list-content {
    display: block;
    vertical-align: top;
    padding: 10px 10px;
    width: auto;
}
.product-near li{
    display: none;
}
.product-near li:first-child {
    display: block;
    width: auto;
}

.product-lastview li{
    display: none;
}
.product-lastview li:first-child {
    display: block;
    width: auto;
}
.detail-txt {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
}
}