@font-face {
  font-family: 'login';
  src:  url('../fonts/login.eot?y1y0bc');
  src:  url('../fonts/login.eot?y1y0bc#iefix') format('embedded-opentype'),
    url('../fonts/login.ttf?y1y0bc') format('truetype'),
    url('../fonts/login.woff?y1y0bc') format('woff'),
    url('../fonts/login.svg?y1y0bc#login') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
	font-family: 'login' !important;
  content: "\e98f";
}

/**************************************************************************************************************/

@font-face {
  font-family: 'cart';
  src:  url('../fonts/cart.eot?j2kell');
  src:  url('../fonts/cart.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/cart.ttf?j2kell') format('truetype'),
    url('../fonts/cart.woff?j2kell') format('woff'),
    url('../fonts/cart.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-cart:before {
	font-family: 'cart' !important;
  content: "\e93a";
  margin-right:5px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'home';
  src:  url('../fonts/home.eot?j2kell');
  src:  url('../fonts/home.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/home.ttf?j2kell') format('truetype'),
    url('../fonts/home.woff?j2kell') format('woff'),
    url('../fonts/home.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-home:before {
  content: "\e902";
  font-family: 'home' !important;
  margin-right:5px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'next';
  src:  url('../fonts/next.eot?j2kell');
  src:  url('../fonts/next.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/next.ttf?j2kell') format('truetype'),
    url('../fonts/next.woff?j2kell') format('woff'),
    url('../fonts/next.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-next:before {
  content: "\e900";
  font-family: 'next' !important;
  margin-right:5px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'more';
  src:  url('../fonts/more.eot?j2kell');
  src:  url('../fonts/more.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/more.ttf?j2kell') format('truetype'),
    url('../fonts/more.woff?j2kell') format('woff'),
    url('../fonts/more.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-more:before {
  content: "\ea42";
  font-family: 'more' !important;
  margin-left:5px;
  position:relative;
  top:2px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'condition';
  src:  url('../fonts/condition.eot?j2kell');
  src:  url('../fonts/condition.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/condition.ttf?j2kell') format('truetype'),
    url('../fonts/condition.woff?j2kell') format('woff'),
    url('../fonts/condition.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-condition:before {
  content: "\e926";
  font-family: 'condition' !important;
  margin-left:5px;
  position:relative;
  top:2px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'arrow';
  src:  url('../fonts/arrow.eot?j2kell');
  src:  url('../fonts/arrow.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/arrow.ttf?j2kell') format('truetype'),
    url('../fonts/arrow.woff?j2kell') format('woff'),
    url('../fonts/arrow.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-arrow:before {
  content: "\e900";
  font-family: 'arrow' !important;
  margin-left:5px;
  position:relative;
  top:2px;
}

/**************************************************************************************************************/

@font-face {
  font-family: 'back';
  src:  url('../fonts/back.eot?j2kell');
  src:  url('../fonts/back.eot?j2kell#iefix') format('embedded-opentype'),
    url('../fonts/back.ttf?j2kell') format('truetype'),
    url('../fonts/back.woff?j2kell') format('woff'),
    url('../fonts/back.svg?j2kell#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-back:before {
  content: "\e900";
  font-family: 'back' !important;
  margin-left:5px;
  position:relative;
  top:2px;
}