  body.one-page {
    padding-top: 70px;
  }
	
nav{
	position:relative;
}
  .flexnav {
	  float:right;
  }

  .flexnav.one-page {
    top: 0;
    right: auto;
	background-color:#FFF;
  }
  .flexnav li {
    font-family: supermarket;
    position: relative;
    list-style: none;
    float: left;
    display: block;
    overflow: visible;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.flexnav li a {
    color: #FFF;
    display: inline-block;
    padding: 10px 10px;
    min-width: 130px;
    border-bottom:3px solid #000;
}
    .flexnav li a:hover {
	  color:#FFF;
	  border-bottom:3px solid #f25822;
  }

.flexnav li > ul {
    position: absolute;
    top: 38px;
    display: block;
    border-radius: 0px;
    background-color: #f25822;
    padding: 5px 0px;
    margin: 0px;
    z-index: 999;
}
  .flexnav li > ul li {
    width: 300px;
	padding:0px 0px;
	margin:0px 10px 0px 10px;
	text-align:left;
	line-height:30px;
	
  }

  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }

.flexnav li ul li a {
	display:block;
    border-bottom: none;
    padding: 0px 5px;
}
.flexnav li ul li a:hover{
	color:#FFF;
    border-bottom: 0px;
    background-color: #000;
}

  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }

  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  .menu-button {
    display: none;
  }
  
  .flexnav .touch-button {
	  visibility:hidden;
	  position:absolute;
}

.flexnav .touch-button:hover {
}

.flexnav .touch-button .navicon {
}