.wrapper {
    width: 289px;
	height:234px;
    padding:0px 0px;
    margin: auto;
	display:inline-block;
	overflow:hidden;
	border:0px dotted #F00;
	float:right;
}
.jcarousel-wrapper {
    margin: 0px auto;
    position: relative;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .7;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 289px;
	height:234px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
	margin:0px 15px 0px 0px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #086b2a;
    text-decoration: none;
    font: 100px/30px Arial, sans-serif;
	
}

.jcarousel-control-prev {
    left: 0px;
	height: 0;
	width: 30px;
	
}

.jcarousel-control-next {
    right: 0px;
	height: 0;
	width: 30px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
	bottom:0;
	left:390px;
	height:15px;
	overflow:hidden;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 1px;
    line-height: 5px;
    min-width: 5px;
	height:5px;
    
    background: #FFF;
    color: #FFF;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    
    margin-right: 10px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #722a82;
    color: #722a82;
    opacity: 1;
}
