.pop {
    position: absolute;
    top: 0;
    display: inline-block;
    right: 0;
    width: 100%;
}
  .pop .pop_menu {
    display: none;
	}
.pop .pop_toggle {
    background-image: url(http://img.traveligo.com/images/icon/drop-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
}

.active .pop_menu {
    display: block;
    background-color: #00aeef;
    color: #fff;
    position: absolute;
    padding: 0px;
    right: 0;
    top: 25px;
}
  .active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: relative;
  top: 0;
  left: 0;
  background-image: url(http://img.traveligo.com/images/icon/drop-arrow.png);
}
.active .pop_menu ul{
	list-style:none;
	padding:0px;
	margin:0px;
}

.active .pop_menu li{
	display:block;
	padding:7px;
	min-width:150px;
}

.active .pop_menu li:hover{
	background-color:#000;
	cursor:pointer;
}