@charset "utf-8";
/* CSS Document */

body{
	margin: 20px 0px 0px 0px;
	font-size:12px;
	font-family:tahoma;
	background: url(../images/background.jpg) repeat-x fixed;
	color: #222;
}

#status {
	background: url(../images/bg_status.png) no-repeat;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	width: 170px;
	height: 93px;
}

.text1 {
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
}

.text2 {
	color: #fffc29;
	font-weight: bold;
}

.text3 {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}

.menucategory {
	margin: 10px 0px 0px 0px;
}

.menucategory .head {
	background: url(../images/menu_head.png) no-repeat;
	padding: 2px 0px 0px 5px;
	width: 170px;
	height: 34px;
	font-weight: bold;
}

.menucategory .head img{
	vertical-align: middle;
}

.menucategory  ul {
	background: url(../images/menu_bg.png) repeat-y;
	margin: 0px;
	padding-left: 24px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.menucategory  li {
	list-style-image: url(../images/list.jpg);
	line-height: 14px;
	margin-bottom: 10px;
}

.menucategory  li a,a:visited{
	color: #222;
	text-decoration: none;
}

.menucategory  li a:hover{
	color: #060;
	text-decoration: underline;
}

.stat {
	background:url(../images/stat_bg.png) no-repeat;
	width:170px;
	height:108px;
	margin-top: 10px;
	padding: 2px 3px 0px 4px;
}


/* ------------------------------------------- FOOTER --------------------------------------------- */

.footer {
	background:url(../images/footer_bg.png) repeat-x;
	height: 70px;
	text-align: center;
}

.text4 {
	color: #009650;
	font-weight: bold;
	font-size: 14px;
}

/* ------------------------------------------- CONTENT --------------------------------------------- */

.main_bg{
	background-color:#f4f4f4;
	border-radius:3px;
}

.head_tab {
	margin: 3px;
}

.head_tab .topic{
	margin: 0px 3px 0px 3px;
}
	
.head_tab .topic .bg{
	background: url(../images/head_tab_center.png) repeat-x;
	font-size: 14px;
	font-weight: bold;
}


/* ------------------------------------------- EDITOR --------------------------------------------- */

.langtab .ul {
	}
	
.langtab .li{
	width: 129px;
	height: 31px;
	background: url(../images/langtab_disable.jpg) no-repeat;
	list-style: none;
	}
	
.langtab a:hover,.active{
	width: 129px;
	height: 31px;
	background: url(../images/langtab_enable.jpg) no-repeat;
	}

/* ------------------------------------------- TABLE --------------------------------------------- */
/*
.tablestyle,td{
	border: 1px #999;
}*/

.tabletest table {
	background-color:#ffffff;
	border:1px solid #c3c3c3;
	border-collapse:collapse;
	width:90%;
}

.tabletest th {
	background-color:#ececec;
	border:1px solid #d8d8d8;
	padding:3px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	height: 33px;
}

.tabletest td {
	border:1px solid #c3c3c3;
	padding:3px;
	vertical-align:middle;
	height: 30px;
	font-weight: bold;
	color: #0e5738;
}

.underline {
	background:url(../images/line.png) bottom repeat-x;
	height: 28px;
}

.add_data  table {
	background-color:#ffffff;
	border:1px solid #c3c3c3;
	border-collapse:collapse;
}

.add_data th {
	background-color:#ececec;
	border:1px solid #d8d8d8;
	padding:3px;
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	height: 33px;
}

.add_data td {
	border:1px solid #c3c3c3;
	padding:3px;
	vertical-align:middle;
	height: 30px;
	font-weight: bold;
	color: #0e5738;
}

input {
	border: #ccc solid 1px;
}

.loginbox {
	background-color: #176b47;
	border-radius:3px;
	padding: 10px;
	color: #FFF;
	}
	
.loginbox  .head {
	font-weight: bold;
	font-size: 16px;
	}
	
.button_login:link,.button_login:visited{
	color:#a20100;
	border-radius:10px;
	background-color:#FFF;
	text-align:center;
	padding:5px 10px;
	text-decoration:none;
	font-weight:bold;
}
.button_login:hover{
	color:#000;
}

.link_w:link,.link_w:visited{
	color:#FFF;
	text-decoration:none;
}
.link_w:hover{
	color:#FF0;
}
