	.cartmenu{
	background: transparent none repeat scroll 0 0; 
	cursor:pointer; 
	right: 50px; 
	position:fixed; 
	top: 40px !important; 
	z-index: 4000000000 !important;
	display:inline-block;
	}
	.cartmenu .cart{
	left: 0 !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	top: 0 !important; 
	width: 50px !important; 
	z-index: 19999 !important;
	background-color:#e5e5e5;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding:10px 10px 10px 15px;
	}
	.cartmenu .search{
	left: 0 !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	top: 50px !important; 
	width: 50px !important; 
	z-index: 19999 !important; 
	background-color:#e5e5e5;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding:10px 10px 10px 15px;
	}	

/*@media screen and (max-width: 1600px) {
	.livechat{
	background: transparent none repeat scroll 0 0; 
	bottom: 0; 
	cursor:pointer; 
	height: 158px; 
	left: 0; 
	position: fixed; 
	top: 35% !important; 
	z-index: 4000000000 !important;
	}
	.livechat .pic{
	background-image: URL('https://www.chaiyohosting.com/images/livechat_v.png'); 
	background-position:center; 
	background-repeat:no-repeat;  
	height: 158px !important; 
	left: 0 !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	top: 0 !important; 
	width: 33px !important; 
	z-index: 19999 !important; 
	}
}

@media screen and (max-width: 1290px) {
	.livechat{
	top:95.5% !important;
	left:87% !important;
	background: transparent none repeat scroll 0 0; 
	cursor:pointer; 
	width: 158px !important; 
	height: 38px; 
	position:fixed; 
	z-index: 4000000000 !important;
	}
	.livechat .pic{
	background-image: URL('https://www.chaiyohosting.com/images/livechat_h.png'); 
	background-position:center; 
	background-repeat:no-repeat;  
	height: 38px !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	width: 158px !important; 
	z-index: 19999 !important; 
	}
}

@media screen and (max-width: 1240px) {
	.livechat{
	top:95.5% !important;
	left:86.5% !important;
	background: transparent none repeat scroll 0 0; 
	cursor:pointer; 
	width: 158px !important; 
	height: 38px; 
	position:fixed; 
	z-index: 4000000000 !important;
	}
	.livechat .pic{
	background-image: URL('https://www.chaiyohosting.com/images/livechat_h.png'); 
	background-position:center; 
	background-repeat:no-repeat;  
	height: 38px !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	width: 158px !important; 
	z-index: 19999 !important; 
	}
}

@media screen and (max-width: 1200px) {
	.livechat{
	top:95% !important;
	left:70% !important;
	background: transparent none repeat scroll 0 0; 
	cursor:pointer; 
	width: 158px !important; 
	height: 38px; 
	position:fixed; 
	z-index: 4000000000 !important;
	}
	.livechat .pic{
	background-image: URL('https://www.chaiyohosting.com/images/livechat_h.png'); 
	background-position:center; 
	background-repeat:no-repeat;  
	height: 38px !important; 
	margin: 0px 0px 0px 0px !important;  
	position: absolute !important; 
	width: 158px !important; 
	z-index: 19999 !important; 
	}
}*/