  .flexnav {
    overflow: visible;
	color:#FFF;
	font-weight:bold;
	padding:10px 0px;
	margin:0px;
	display:table;
	border-radius:20px;
	float:right;
	
	background: rgb(105,177,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(105,177,0,1) 0%, rgba(47,132,22,1) 25%, rgba(9,98,37,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,177,0,1)), color-stop(25%,rgba(47,132,22,1)), color-stop(100%,rgba(9,98,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(105,177,0,1) 0%,rgba(47,132,22,1) 25%,rgba(9,98,37,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(105,177,0,1) 0%,rgba(47,132,22,1) 25%,rgba(9,98,37,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(105,177,0,1) 0%,rgba(47,132,22,1) 25%,rgba(9,98,37,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(105,177,0,1) 0%,rgba(47,132,22,1) 25%,rgba(9,98,37,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b100', endColorstr='#096225',GradientType=0 ); /* IE6-9 */

  }

  .flexnav.one-page {
    top: 0;
    right: auto;
	background-color:#FFF;
  }

.ver-menu-left {
	border-left:1px solid #0a4911;
}
.ver-menu-right {
	border-right:1px solid #23ba17;
}
  .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: table;
    overflow: visible;
	text-align:center;
	padding:0px 25px;
	margin:0px;
	line-height:25px;
	font-size:12px;
  }

  .flexnav li a {
	  color:#FFF;
	  text-decoration:none;
  }
    .flexnav li a:hover {
	  cursor:pointer;
	  color:#FF0;	  
	}

  .flexnav li > ul {
    position: absolute;
    top: 25px;
    display: block;
	border-radius:5px;
	background-color:#02812d;
	padding:10px 0px;
	margin:0px 0px;
}

  .flexnav li > ul li {
	padding:2px 10px;
	margin:0px 0px 0px 10px;
	text-align:left;
	width:240px;
	font-size:12px;
  }

  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }

  .flexnav li ul li a {
    border-bottom: none;
	color:#FFF;
  }
    .flexnav li ul li:hover {
	color:#FF0;
  }


  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
	
  }

  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }

  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  .menu-button {
    display: none;
  }
  
  .flexnav .touch-button {
	  visibility:hidden;
	  position:absolute;
}

.flexnav .touch-button:hover {
}

.flexnav .touch-button .navicon {
}