<div class="contact-box-detail">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8448408539375!2d100.49906700000001!3d13.72784199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298e2e0bb1fcf%3A0x2ae5fbd34d922f01!2sBangkok+Inter+Food+Co.%2C+Ltd.!5e0!3m2!1sth!2sth!4v1411997845983" width="860" height="500" frameborder="0" style="border:0"></iframe>
    </div>

    <div class="contact-box-detail-content">
        <div class="contact-box-detail-left">
            <h1 class="txt-green">BIF Shop Online</h1>
            <p><img src="images/contact.png" width="418" height="136"  alt=""/></p>
            <p>383 Ladya Rd., Somdejchaophaya  Klongsan, Bangkok 10600 Thailand</p>
            <p><span class="txt-bold">Tel :</span> +662 438-3786 , +662 861-4805-10</p>
            <p> <span class="txt-bold">Fax :</span> +662 437-7937 , +662 861-4829</p>
            <p><span class="txt-bold">E-mail :</span></p>
            <p><span class="txt-bold">For Overseas market :</span> export @ bangkokinterfood.co.th</p>
            <p> <span class="txt-bold">For Domestic market :</span> marketing @ bangkokinterfood.co.th</p>
        </div>
        <div class="contact-box-detail-right">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                    <td>
                        <input type="text" name="txtTopic" id="txtTopic" placeholder="เรื่อง *" style="width:100%;"></td>
                </tr>
                <tr>
                    <td><input type="text" name="txtFullName" id="txtFullName" placeholder="ชื่อ *" style="width:100%;"></td>
                </tr>
                <tr>
                    <td><input type="text" name="txtEmail" id="txtEmail" placeholder="Email *" style="width:100%;"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="chkSubscribe" id="chkSubscribe">
                        <label for="checkbox"> มีความประสงค์รับข่าวสารจาก BIF</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" name="txtMobile" id="txtMobile" placeholder="มือถือ" style="width:100%;"></td>
                </tr>
                <tr>
                    <td><input type="text" name="txtTel" id="txtTel" placeholder="โทร" style="width:100%;"></td>
                </tr>
                <tr>
                    <td><input type="text" name="txtSubject" id="txtSubject" placeholder="หัวข้อ *" style="width:100%;"></td>
                </tr>
                <tr>
                    <td>
                        <textarea name="txtDetail" id="txtDetail" rows="5" placeholder="ข้อความ*" style="width:100%;"></textarea></td>
                </tr>
                <tr>
                    <td align="center"><button id="btnSubmitContact">ส่งข้อความ</button></td>
                </tr>
            </table>
        </div>
    </div>

</div>
